<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Helo World</title>
</head>
<body>
    <h1>Hello World</h1>

    <form method="post" action="/hello">
        <input type="text" name="text1" />
        <button type="submit" name="button1">クリック</button>
    </form>

    <br/>

    <form method="post" action="/hello/db">
        従業員IDを入力：
        <input type="text" name="text2" th:value="${text2_value}" />
        <button type="submit">クリック</button>
    </form>
</body>
</html>